@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Noto+Sans+Display:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    background-color: ivory;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Display', sans-serif;
}

.score-board h1 {
    font-family: 'Bangers', cursive;
    text-align: center;
    font-size: 5rem;
    color: palevioletred;
}

.scores {
    font-size: .75rem;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: -3%;
    gap: 2rem;
}

.scores h2 {
    margin-bottom: 0;
    background-color: palevioletred;
    border-radius: 20px;
    padding: 10px 20px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    padding: 50px 3rem;
}

img {
    cursor: pointer;
    padding: 20px 0;
}

img:hover {
    transform: scale(1.2);
}

.footer {
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: palevioletred;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.footer a {
    text-decoration: none;
    color: white;
    background-color: palevioletred;
    padding-left: 5px;
}

.footer a:hover {
    color: black;
}
